<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="GameOfLife.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="GameOfLife.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <GameOfLife.Properties.Settings>
            <setting name="Scale" serializeAs="String">
                <value>64, 32</value>
            </setting>
            <setting name="Interval" serializeAs="String">
                <value>20</value>
            </setting>
            <setting name="BorderMode" serializeAs="String">
                <value>Wrap</value>
            </setting>
            <setting name="NeighborRadius" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="NeighborLiveMin" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="NeighborLiveMax" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="CellBirthThreshold" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="RandomMode" serializeAs="String">
                <value>Seed</value>
            </setting>
            <setting name="RandomSeed" serializeAs="String">
                <value>2000</value>
            </setting>
            <setting name="RandomThreshold" serializeAs="String">
                <value>7.5</value>
            </setting>
            <setting name="RandomMultiplier" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="bShowHUD" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="bShowNeighborCount" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="bShowGrid" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CellColor" serializeAs="String">
                <value>208, 208, 208</value>
            </setting>
            <setting name="GridColor" serializeAs="String">
                <value>240, 240, 240</value>
            </setting>
            <setting name="BackgroundColor" serializeAs="String">
                <value>176, 176, 176</value>
            </setting>
        </GameOfLife.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <GameOfLife.Properties.Settings>
            <setting name="NeighborTextSizeMultiplier" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="NeighborTextSizeMin" serializeAs="String">
                <value>4</value>
            </setting>
            <setting name="NeighborTextSizeMax" serializeAs="String">
                <value>24</value>
            </setting>
        </GameOfLife.Properties.Settings>
    </applicationSettings>
</configuration>